<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WhereIsFelix.today</title>
    <meta name="description" content="Where is Felix?">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  </head>

  <body *ngIf="data.loading">
    <h1 id="findingFelix">Finding Felix...</h1>
  </body>

  <body *ngIf="data.currentCityText">
    <div id="storyViewer">
      <div id="storyViewerDimmedBackground" onclick="dismissStories()"></div>
      <div id="storyContent">
        <div id="storyHeader">
          <img 
            id="storyHeaderProfilePicture"
            onclick="window.open('https://instagram.com/krausefx', '_blank')"
          />
          <p id="storyUserlink"><a href="https://instagram.com/krausefx" target="_blank">KrauseFx</a></p>
          <p id="storyTimestamp"></p>
          <p id="poweredByInstapipe"><a href="https://instapipe.net" target="_blank">instapipe.net</a></p>
        </div>
        <div id="storyProgressBar"></div>
        <div id="storyBackButton" class="storyButton" onclick="userDidClickPreviousStory()">
          <
        </div>
        <div id="storyNextButton" class="storyButton" onclick="userDidClickNextStory()">
          >
        </div>

        <video autoplay playsinline muted id="storyVideoViewer">
        </video>
        <div id="storyPhotoViewer" onclick="userDidClickNextStory()">
        </div>
      </div>
      <img src="" id="fakeContentToPreloadImages" />
    </div>


    <div id="map" [ngStyle]="{'background-image': 'url(\'' + data.mapsUrl + '\')'}"></div>

    <div id="content">
      <div id="story-available"></div>
      <img 
        src="{{data.profilePictureUrl}}"
        id="storyProfilePicture"
        onclick="showStories()"
      />

      <h1 *ngIf="!data.isMoving">Felix is currently in <b>{{data.currentCityText}}</b></h1>
      <h1 *ngIf="data.isMoving">Felix is currently flying to <b>{{data.currentCityText}}</b></h1>
      <h3 *ngIf="data.nextCityText">Leaving for {{data.nextCityText}} {{data.nextCityDate}}</h3>
      <table *ngIf="data.nextCityText">
        <thead>
          <tr>
            <th>Upcoming trips</th>
            <th>From</th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currentStay of data.nextStays">
            <td>{{currentStay.name}}</td>
            <td>{{currentStay.fromDate | amDateFormat:'DD MMM'}}</td>
            <td>{{currentStay.toDate | amDateFormat:'DD MMM'}}</td>
          </tr>
        </tbody>
      </table>
      <hr />
      <span *ngIf="data.currentMoodLevel">
        <h1 style="margin-bottom: 30px">
          Felix feels <b>{{data.currentMoodLevel}}</b> {{data.currentMoodEmoji}}
          <span class="footnote">({{data.currentMoodRelativeTime}})</span>
        </h1>

        <hr />
      </span>

      <!-- <p style="text-align: center; margin-bottom: -12px; margin-top: -10px" class="footnote">Current time for Felix</p>
      <h1>{{data.localTime}}</h1>
      <hr /> -->

      <span *ngIf="data.todaysMacros.kcal > 0">
        <h1 style="margin-bottom: 10px">Felix ate today</h1>
        <div class="foodContainer">
          <span>
            <b>{{data.todaysMacros.kcal}} kcal</b>of {{data.otherFxLifeData["macrosCarbs"]["value"] * 4 + data.otherFxLifeData["macrosProtein"]["value"] * 4 + data.otherFxLifeData["macrosFat"]["value"] * 9}} kcal
          </span>
          <span>
            <b>{{data.todaysMacros.carbs}}g carbs</b>of {{data.otherFxLifeData["macrosCarbs"]["value"]}}g
          </span>
          <span>
            <b>{{data.todaysMacros.protein}}g protein</b>of {{data.otherFxLifeData["macrosProtein"]["value"]}}g
          </span>
          <span>
            <b>{{data.todaysMacros.fat}}g fat</b>of {{data.otherFxLifeData["macrosFat"]["value"]}}g
          </span>
        </div>

        <div class="foodEntries">
          <table>
            <tr 
              *ngFor="let currentEntry of data.todaysFoodItems; index as i" 
              class="{{i < 3 || showAllFood ? 'showAllFood' : 'foodDetailHidden'}}"
              >
              <td>
                {{currentEntry.name}}
              </td>
              <td>
                {{currentEntry.amount}}
              </td>
            </tr>
            <tr *ngIf="data.todaysFoodItems.length > 3">
              <td colspan="2">
                <a class="viewAllFoodButton" (click)="toggleFood()">
                  <span *ngIf="showAllFood">
                    Hide food entries
                  </span>
                  <span *ngIf="!showAllFood">
                    Show all food entries
                  </span>
                </a>
              </td>
            </tr>
          </table>
        </div>

        <hr />
      </span>

      <h1 style="margin-bottom: -12px; margin-top: -10px; font-size: 115%">Number of personal open Todo items</h1>
      <h1><b>{{data.numberOfTodoItems}}</b></h1>
      <hr />

      <div style="margin-top: 20px; margin-left: auto; margin-right: auto; text-align: left; width: 350px;">
        <p>
          <span class="leftCol">Weight</span><b>{{(data.otherFxLifeData["weight"]["value"] * 0.453592) | number:'1.0-2'}} kg</b>  / {{data.otherFxLifeData["weight"]["value"] | number:'1.0-2'}} lbs
          <span class="footnote" style="margin-left: 5px">({{data.otherFxLifeData["weight"]["time"] | amTimeAgo}})</span>
        </p>

        <p><span class="leftCol">Height</span> <b>1.93 m</b> (6'4")</p>
        <p><span class="leftCol">Body Fat</span> <b>10.3%</b> <span class="footnote" style="margin-left: 5px">({{data.otherFxLifeData["dexaFatPercent"]["time"] | amTimeAgo}} via <a href="https://en.wikipedia.org/wiki/Dual-energy_X-ray_absorptiometry" target="_blank">DEXA</a>)</span></p>
        <p><span class="leftCol">Slept</span> <b>{{data.otherFxLifeData["sleepDuration"]["value"] | number: '.'}} hours</b> tonight</p>
        <p><span class="leftCol">Phone time</span> <b>{{data.otherFxLifeData["weeklyPhoneTime"]["value"]}} hours</b> the last week</p>
        <p><span class="leftCol">Mac time</span> <b>{{data.otherFxLifeData["weeklyComputerTime"]["value"]}} hours</b> the last week</p>
      </div>
      <hr />

      <h2>Recent photos</h2>
      <div class="recentPhotos">
        <span 
          class="recentPhoto"
          *ngFor="let currentPhoto of data.recentPhotos"
          [ngStyle]="{'background-image': 'url(\'' + currentPhoto.url + '\')'}"
          onclick="window.open('https://instagram.com/KrauseFx', '_blank');"
        >
          
        </span>
      </div>
      <hr />

      <p style="text-align: center; margin-bottom: -6px; margin-top: -10px" class="footnote">Last code commit {{data.lastCommitTimestamp | amTimeAgo}}</p>
      <h1 style="font-size: 25px; margin-bottom: 25px">
        <a href="{{data.lastCommitLink}}" target="_blank" style="color: #333 !important; text-decoration: underline !important">
          {{data.lastCommitMessage}}
        </a>
      </h1>
      <p style="text-align: center; margin-bottom: 25px; margin-top: -10px;" class="footnote">on GitHub repo <a href="https://github.com/{{data.lastCommitRepo}}" target="_blank">{{data.lastCommitRepo}}</a></p>
      <hr />

      <h2 style="display: none;">Conferences</h2>
      <table style="display: none;">
        <thead>
          <tr>
            <th>Conference</th>
            <th>City</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currentConference of data.nextConferences">
            <td>
              <a href="{{currentConference.link}}" target="_blank">
                {{currentConference.name}}
              </a>
            </td>
            <td>{{currentConference.location}}</td>
            <td>{{currentConference.dates}}</td>
          </tr>
        </tbody>
      </table>

      <hr style="display: none;" />

      <h2 *ngIf="data.nextEvents.length > 0">Upcoming events</h2>
      <table *ngIf="data.nextEvents.length > 0">
        <thead>
          <tr>
            <th class="hideOnMobile">Title</th>
            <th>When</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currentEvent of data.nextEvents">
            <td class="hideOnMobile">Redacted</td>
            <td>{{currentEvent.start}}</td>
            <td>{{currentEvent.duration.toFixed(1)}} hour{{ currentEvent.duration == 1 ? "" : "s" }}</td>
          </tr>
        </tbody>
      </table>
      <br />
      <hr *ngIf="data.nextEvents.length > 0" />

      <footer>
        <p>
          Fork this page <a href="https://github.com/krausefx/whereisfelix.today" target="_blank">on GitHub</a>
        </p>
        <p>
          Trip data comes from <a href="https://nomadlist.com/@krausefx" target="_blank">nomadlist.com</a>
        </p>
        <p>
          Mood data comes from <a href="https://github.com/krausefx/mood" target="_blank">my mood bot</a>
        </p>
        <p>
          How do I travel? <a href="https://krausefx.com/blog/going-nomad" target="_blank">I live out of a suitcase</a>
        </p>
      </footer>
    </div>
  </body>
</html>
